<!-- your html code here -->
<div class="container">
    <!-- Content here -->
    <h1>Contact</h1>
    <p>Donec ullamcoper nulla metus auctor fringilla. Vetibulum id ligula porta felis euismod semper magna,
        vel scelerisque nisl consecteur. Fuse dapibus, tellus ac cursus commoda.
    </p>
    <form>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-Mail</label>
            <textarea class="form-control" placeholder="Your E-Mail" id="floatingTextarea2"
                style="height: 40px"></textarea>
        </div>
        <div class="row mb-3">
            <label for="inputMessage3" class="col-sm-2 col-form-label">Your Message</label>
            <textarea class="form-control" placeholder="Please enter your message here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <div class="col-sm-10">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>