<h1> <strong>Contact</strong></h1>
    <p>Donec ullamcoper nulla metus auctor fringilla. Vetibulum id ligula porta felis euismod semper magna,
        vel scelerisque nisl consecteur. Fuse dapibus, tellus ac cursus commoda.
    </p>
    <div class="container" style="background-color: rgb(225, 228, 236); margin: auto; padding: 2%;" >
        <form>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label; fw-bold">Your E-mail</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" type="text" name="E-mail" placeholder="Your E mail">
                </div>
                <div class="row mb-3"></div>
                <label for="statictext" class="col-sm-2 col-form-label; fw-bold">Your Message</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" type="text" name="E-mail"
                        placeholder="Please enter your message here"></textarea>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="margin-left: 92%;">Submit</button></div>
        </form>
    </div>