<!--div class="container-fluid" width= 1500px height=250px>
    <h2>This First Heading Will Catch your Eye</h2>
    <div width="100px" height=100px style="float:right">
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
    </div>
    <img src="/workspace/html-hello/exercise-collaborative-html-website/website1/assets/img/1.jpg" class="img-thumbnail" style="float:right" alt="1" width="200px" height=200px>
</div-->


<div class="row"> 
   <div class="col-lg-8 col-md-8 col-sm-12 desc">
    <h3>This First Heading Will Catch your Eye</h3>
    <p>
       ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. 
    </p>
  </div>
<div class="col-lg-4 col-md-4 col-sm-12">
    <img src="/workspace/html-hello/exercise-collaborative-html-website/website1/assets/img/1.jpg" class="rounded-circle" alt="1" class="img-fluid" height="200px" width="200px" float="right">
</div> 
 
 
</div>