


<div class="container">
                <div class="row"> 
                <div class="col-7">
                
                <h2>This First Heading <a href="#" class="text-black-50">Will Catch your Eye</a></h2>
                    <h5 class="text-md-start" class="fs-3">
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                    </h5>
                </div>
                
                
                <div class="col-5">
                    <img src="./assets/img/1.jpg" class="rounded-circle" alt="1" class="img-fluid" height="350px" width="350px" float="right">
                </div> 
                
                
                </div>

</div>
                </br>
                </br>
                </br>
                </br>