<!-- your html code here -->
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Start Boostsrap</a>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#">About</a> </li>
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="blog" href="#">Portfolio</a> </li>
            <li class="nav-item">
                <a class="nav-link " data-value="contact" href="#">Contact</a> </li>
        </ul>
    </div>
</nav>