<body>
<h1> <strong> Portfolio</strong></h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusmod semper. Praesent commodo cursus
    magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
<!--Aquí agregué 3 cards-->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: blue;" >Project Name</h5>
        <p class="card-text">Lorem ipsun dolor sit amet, consectetur adipiscing elit.
            Nam viverra euismod, gravida pelientesque uma 
            varius vitae.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: blue;">Project Name</h5>
        <p class="card-text">Lorem ipsun dolor sit amet, consectetur adipiscing elit.
            Nam viverra euismod, gravida pelientesque uma 
            varius vitae..</p>
      </div>
    </div>
 
  </div>
  <div class="col">
    <div class="card">
      <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: blue;">Project Name</h5>
        <p class="card-text">Lorem ipsun dolor sit amet, consectetur adipiscing elit.
            Nam viverra euismod, gravida pelientesque uma 
            varius vitae.</p>
      </div>
    </div>
  </div>
</div>


 </body>  
      