

<div class="container">
        <div class="row">
            <div class="col-1" >
          
            </div>
        </div>

</div>



<div class="container">
             <div class="row"> 
                            <div class="col-4" >
                                    <img src="./assets/img/2.jpg" class="rounded-circle" alt="2" class="img-fluid" height="350px" width="350px" float="left">
                            </div> 
                

                        <div class="col-7" float="left">
                            <h2>This Second Heading <a href="#" class="text-black-50">Is Pretty Cool too</a></h2>
                            <h5 class="text-md-start" class="fs-3">
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. 
                            </h5>
                        </div>
            
            
            
            
            </div>
</div>